@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
@font-face {
  font-family: "FakePearl-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"),
  url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

*,
*::before,
*::after {
  color: var(--txt-color);
  box-sizing: border-box;
  margin: 0;
  cursor: inherit;
}

::selection {
  background: #ba88a3;
}

html {
  font-size: 16px;
  font-family: "Comic Neue", "FakePearl-Regular", Calibri, source-sans-pro, sans-serif;
  height: 100%;
  background: rgb(var(--bg-color)) url("/img/background.svg") repeat top center;
  background-size: 22rem;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden auto;
  cursor: url("/cursor/cat_paw1.svg"), auto;
}

html, body, #app {
  height: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

button, a {
  cursor: url("/cursor/cat_paw2.svg"), pointer;
}

button {
  &:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 .5rem rgb(var(--color-theme2));
  }
}