html {
  --txt-color: 25 25 25;
  --bg-color: 209 176 193;

  --iq-text: 219 158 157;
  --iq-border: 91 15 17;

  --color-theme1: 187 89 136;
  --color-theme2: 203 150 174;
  --color-theme3: 212 187 198;
  --color-theme4: 250 232 240;
}