name: Deploy beta

on:
  push:
    tags:
      - "^v\\d+\\.\\d+\\.\\d+-(alpha|beta)\\d+$"
  release:
    types: [published]

jobs:
  build_and_deploy:
    if: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: beta

      # Install PNPM
      - uses: pnpm/action-setup@v4
        name: Install pnpm and dependicies
        with:
          run_install: true

      - name: Build the project
        run: pnpm build

      - name: Handle 404
        run: cp ./dist/index.html ./dist/404.html

      # use actions-gh-pages to deploy dist to gh-pages
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          external_repository: miaomiIQ180/beta
          publish_dir: ./dist
          force_orphan: true
